* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 15px/1.4 'Open Sans', Arial, sans-serif;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  background: #f0f0f0;
}
body > header {
  margin-top: 16px;
}
body > footer {
  border-top: 1px solid #ccc;
  margin: 42px 0;
}
main {
  clear: both;
}
section {
  margin: 0 0 21px 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.media,
.media__bd {
  overflow: hidden;
  zoom: 1;
}
.text--right {
  text-align: right;
}
.text--mute {
  color: rgba(150, 150, 150, 0.8);
  text-shadow: 0px -1px 0px #ffffff;
}
.list--plain {
  margin: 0;
  list-style-type: none;
}
.fade {
  opacity: 0;
}
.fade--in {
  transition: opacity 250ms ease-in-out;
  opacity: 1;
}
.btn--destroy {
  font-family: Arial, sans-serif;
  padding: 9px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  transition: opacity 100ms linear;
}
.btn--destroy:hover {
  opacity: .5;
}
.list--items {
  background: #fff;
  border: 1px solid #ccc;
  border-width: 0;
}
.list--items li {
  padding: 0 8px;
}
.list--items li + li {
  border-top: 1px solid #ccc;
}
.list--items.has-entries {
  border-width: 0px 1px 1px 1px;
}
.app,
.votes-label {
  display: none;
}
.btn--gradient {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from rgba(255, 255, 255, 0.8), to rgba(228, 222, 219, 0.8));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(228, 222, 219, 0.8));
  background: linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(228, 222, 219, 0.8));
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  outline: none;
  padding: 8px 12px;
}
.btn--gradient:hover {
  background: #e6e6e6;
  border-color: #b6b6b6;
}
.btn--gradient:focus {
  box-shadow: inset 0 0 2px rgba(0, 0, 250, 0.5);
}
.clearAll,
.time-retrospective {
  width: 85px;
}
.clearAll {
  margin-top: 9px;
}
.input {
  font-family: 20nherit;
  border: 1px solid #ccc;
  border-radius: 2px 2px 0 0;
  font-size: 18px;
  width: 100%;
  padding: 4px 8px;
}
.item {
  padding: 7px 0;
  display: block;
  cursor: pointer;
  font-size: 16px;
}
.page-title {
  color: #B2A8A4;
  text-shadow: 1px 1px 2px #fff;
  text-align: center;
  overflow: hidden;
}
.time-retrospective {
  font-size: 12px;
  font-style: italic;
  display: block;
  text-align: left;
  padding-top: 20px;
}
.edit {
  padding: 9px 0;
  font-size: 16px;
  width: 100%;
  display: none;
}
.is-editing .edit {
  display: inline-block;
}
.view {
  line-height: 1.6;
}
.is-editing .view {
  display: none;
}
.votes {
  width: 32px;
  font-size: 16px;
  padding: 6px 0;
  margin: 3px 6px 0 0;
  border: 1px solid #d5d5d5;
  text-align: center;
}
