@border: #d5d5d5;

.rgbaGradient(@startColor, @startAlpha, @endColor, @endAlpha) {
	@rgbaStart: rgba(red(@startColor), green(@startColor), blue(@startColor), @startAlpha);
	@rgbaEnd: rgba(red(@endColor), green(@endColor), blue(@endColor), @endAlpha);

	background: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from @rgbaStart,to @rgbaEnd);
	background: -webkit-linear-gradient(top, @rgbaStart, @rgbaEnd);
	background: linear-gradient(top, @rgbaStart, @rgbaEnd);
}

// ----------------------------------------------------------------------------
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 16px/1.4 'Helvetica Neue', Arial, Helvetica, sans-serif;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	background: #f0f0f0;

	>header {
		margin-top: 16px;
	}

	>footer {
		border-top: 1px solid #ccc;
		margin: 16px * 2 0;

	}
}

main { clear: both; }
section { margin: 0 0 16px 0; }

// ----------------------------------------------------------------------------
.media         { overflow: hidden; }
.media__begin,
.media__end    { display: block; }
.media__begin  { float: left; margin-right: 16px;}
.media__end    { float: right;  margin-left: 16px; }
.media__bd     { overflow: auto; }

.text--right  { text-align: right; }

.text--mute {
	color: #969696;
	color: rgba(150, 150, 150, 0.8);
	text-shadow: 0px -1px 0px #fff;
}

.list--plain {
	margin: 0;
	list-style-type: none;
}

.fade {
	transition: opacity 500ms ease-in-out;
	opacity: 0;
	&--in {
		opacity: 1;
	}
}

.btn--destroy {
	background: none;
	border: none;
	float: right;
	height: 36px;
	width: 36px;

	// kill annoying focus ring falling outside LI
	margin-top: 3px;
	margin-right: 2px;
}

.list--items {
	background: #fff;
	border: 1px solid #999;
	border-width: 0;
	li            {	padding-left: 8px;}
	li + li       { border-top: 1px solid #999; }
	&.has-entries { border-width: 0px 1px 1px 1px; }
}

// ----------------------------------------------------------------------------
.destroy__symbol {
	color: lighten(rgb(45, 36, 32), 50%);
	font-family: arial, sans-serif;
	font-size: 20px;
	transition: color 100ms linear;

	button:hover & {
		color: rgb(45, 36, 32);
		font-weight: bolder;
	}
}

.btn--gradient {
	.rgbaGradient(#fff, 0.8, #e4dedb, 0.8);
	border-radius: 2px;
	border: 1px solid @border;
	outline: none;
	padding: 8px 12px;

	&:hover {
		background: darken(#fff, 10%);
		border-color: darken(@border, 12%);
	}

	&:focus {
		box-shadow: inset 0 0 2px rgba(0, 0, 250, .5);
	}
}

.section-header {
	.rgbaGradient(#846e64, 0.8, #65544c, 0.8);
	border: 1px solid #6c615c;
	box-shadow: inset 1px 1px 2px rgba(220,220,220, 0.6);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;

	color: #2D2420;
	color: rgba(45,36,32, 0.85);
	text-shadow: 1px 1px rgba(255,255,255, 0.3);

	padding: 4px 8px;
}

.input {
	font-size: 18px;
	width: 100%;
	padding: 4px 8px;
}

.item {
	cursor: pointer;
	font-size: 16px;
}

.page-title {
	color: #6c615c;
	text-shadow: 1px 1px 2px #fff;
	text-align: center;
	overflow: hidden;
}

.time-retrospective {
	font-size: 12px;
	font-style: italic;
}

.edit {
	font-size: 16px;
	width: 95%;
	display: none;
	.is-editing & { display: inline-block; }
}

.view {
	line-height: 2.5;
	.is-editing & { display: none; }
}

.votes {
	width: 60px;
	font-size: 16px;
	line-height: 2.5;
	border: 0;
	text-align: center;
}