@import 'normalize';


body {
	font: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	max-width: 750px;
	min-width: 320px;
	margin: 2em auto;

	opacity: 1.0;
	transition: opacity 300ms ease-in-out;

	&.loading {
		opacity: 0;
	}

	header,
	main,
	footer {
		margin: 0 32px;
	}
}

input[type=text] {
	box-sizing: border-box;
	width: 100%;
}

input[type=number] {
	display: none;
	width: 4em;

	.is-voting & {
		display: inline-block;
	}
}

footer p { font-size: 12px; color: #777; }

abbr { cursor: help; }

.inlineEditor {
	display: none;

	.is-editing & {
		display: inline-block;
	}
}

#teamName {
	display: inline-block;;

	.is-editing & {
		display: none;
	}
}

*[contentEditable=true] {
	background: #fafafa;
	padding: 4px;
	box-shadow: inset 1px 1px 2px #ddd;
}
