:root {
	--border: #d5d5d5;
	--gutter: 21px;
	--color: #555;
	--hilite: #8f807b;
	--accent: #ddd;
	--background: #f0f0f0;
	--color-mute: #999;
	--btnGradientStart: rgba(255,255,255,0.8);
	--btnGradientEnd: rgba(228,222,219,0.8);
	--hilite: #f5f6ce;
}

/**
 * ~ base
 ******************************************************************************/
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font: 15px/1.4 'Open Sans', Arial, sans-serif;
	max-width: 800px;
	min-width: 320px;
	margin: 0 auto;
	background: var(--background);
}

header {
	margin-top: 16px;
}

footer {
	margin-bottom: calc(var(--gutter) * 2);
}

/**
 * ~ utilities
 ******************************************************************************/
.u-micro-cf:before,
.u-micro-cf:after {
	content: " ";
	display: table;
}

.u-micro-cf:after {
	clear: both;
}

.m-top {
	margin-top: var(--gutter);
}

.m-bottom {
	margin-bottom: var(--gutter);
}

.u-pull-right {
	float: right;
}

.text-mute {
	color: var(--color-mute);
}

/**
 * ~ chrome
 ******************************************************************************/
.page-title {
	color: var(--color);
	text-shadow: 0 -1px 1px #fff;
	border-bottom: 1px solid var(--color-mute);
	margin: 0 0 5px 0;
}

.page-title small {
	color: var(--color-mute);
	font-size: 65%;
}

/**
 * ~ phase (a retrospective section)
 ******************************************************************************/
.phase {
	border: 1px solid var(--accent);
	border-width: 1px 1px 0 1px;
	margin-bottom: var(--gutter);
}

/**
 * ~ list
 ******************************************************************************/
 .list-plain {
 	list-style-type: none;
 }

.list-retrospective {
	background: #fff;
	border-top: 1px solid var(--accent);
}

.list-retrospective li {
	position: relative;
	border-bottom: 1px solid var(--accent);
}

/**
 * ~ entry
 ******************************************************************************/
.entry-field {
	color: var(--color);
	border-width: 0;
	display: block;
	font-size: 16px;
	height: 40px;
	outline: 0;
	width: 100%;
	padding: 6px 12px;
}

.entry-field-fancy {
	background-color: var(--hilite);
}

.entry-content {
	font-size: 16px;
	margin-right: 35px;
	padding: 10px;
}

/**
 * ~ button, btn
 ******************************************************************************/
.btn {
	border-radius: 3px;
	border: 1px solid var(--accent);
	font-size: 14px;
	line-height: 1.428;
	padding: 6px 12px;
}

.btn-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from var(--btnGradientStart),to var(--btnGradientEnd));
	background: -webkit-linear-gradient(top, var(--btnGradientStart), var(--btnGradientEnd));
	background: linear-gradient(top, var(--btnGradientStart), var(--btnGradientEnd));
}

.close {
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 0;
	padding: 0 0 16px 13px;
	background: none;
	border: none;
	-webkit-appearance: none;
	font-size: 12px;
	font-weight: 700;
	color: var(--color-mute);
	text-shadow: 0 1px 0 #fff;
	width: 38px;
	height: 34px;
	line-height: 1;
	outline: 0;
}

/**
 * ~ footer
 ******************************************************************************/
 .lower-controls {
 	padding-bottom: var(--gutter);
 	border-bottom: 1px solid var(--accent);
 }
